body, html {
  margin: 0;
  padding: 0;
  font-size: 1.05em;
}

body, html, *, input, button {
  font-family: monospace;
}

.container {
  max-width: calc(768px - 4em);
  min-width: calc(768px - 4em);
  width: calc(768px - 4em);
  margin: 2em auto 2em auto;
}

.header {
  text-align: center;
}

.navbar {}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  margin: 1em 0;
  padding: 2px;
  border: 0;
  background-color: black;
}

hr.little {
  background-color: rgb(235, 235, 235);
  width: 33%;
}

img {
  max-width: 100%;
}

p {
  margin: 0 0 1em 0;
}

a {
  text-decoration: none;
  color: #5baec1;
}

a.title {
  color: black;
}

.post {
  background-color: rgb(245, 245, 245);
}

.post-thumbnail {

}

.post-content {
  padding: 1em;
}

.post-content *:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .container {
    max-width: calc(100% - 4em);
    min-width: calc(100% - 4em);
    width: calc(100% - 4em);
    margin: 2em;
  }
}
